* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Soft: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--main-BG);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}
.card {
  background-color: var(--card-BG);
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 0 10px 0 #00000060;
  margin-bottom: 20px;
}
.card .image {
  height: calc();
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 1;
}
.card .image::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  z-index: 1;
  top: 50%;
  left: 50%;
  background-color: #00fff780;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.card .image:hover::before {
  height: 100%;
  width: 100%;
}
.card .image::after {
  content: url('images/icon-view.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 2;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
}
.card .image:hover::after{
  transition-delay: 0.5s;
  opacity: 1;
}
.card .image img {
  width: 100%;
}
.card .text h2 {
  color: var(--White);
  margin: 20px 0;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.card .text h2:hover {
  color: var(--Cyan);
}
.card .text > p {
  font-size: 18px;
  color: var(--Soft);
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 25px;
}
.card .text .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 27px;
  position: relative;
}
.card .text .price::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--line);
}
.card .text .price h3 {
  color: var(--Cyan);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
}
.card .text .price > span {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  gap: 5px;
  color: var(--Soft);
}
.card .text .name {
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.card .text .name > img {
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--White);
}
.card .text .name p {
  color: var(--Soft);
  font-weight: 300;
}
.card .text .name p > span {
  color: var(--White);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.card .text .name p > span:hover {
  color: var(--Cyan);
}
